* {
    font-family: Arial;
    color: #FFF;
    background-color: #444;
}
h1 {
    background-color: #666670;
    padding: 10px;
    padding-left: 15px;
}
h1:checked {
    font-size: 100;
}
ul.contents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
}
li a { /* Formats the "a" elements in the "li" elements instead of the whole "li" element -- Also, these are the links to pages */
    display: block; /* Makes the whole block clickable, not just the text */
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #505050;
}
li a:hover {
    background-color: #606060;
    color: white;
}
li a:active { /* The "active" selector has to go after the "hover" selector of an element to be effective */
    background-color: #779;
    color: white;
}
ul.info {
    font-size: 14;
}
div.info p {
    font-size: 14;
    margin: 10px;
}